[submodule "BaseTools"]
	path = BaseTools
	url = ../edk2-BaseTools.git
[submodule "MdeModulePkg"]
	path = MdeModulePkg
	url = ../edk2-MdeModulePkg.git
[submodule "MdePkg"]
	path = MdePkg
	url = ../edk2-MdePkg.git
[submodule "Conf"]
	path = Conf
	url = ../edk2-Conf.git
[submodule "MemTestPkg"]
	path = MemTestPkg
	url = ../MemTestPkg.git
